header {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: auto;
  position: relative;
  z-index: 999999;

  div {
    height: 100%;
    display: inherit;
    align-items: center;
  }

  svg {
    width: 22px;
    color: $color_dark;
    cursor: pointer;
  }
}
