.product__detail-body {
  width: 100%;
  height: auto;
  position: relative;

  @media (min-width: $md_size) {
    width: 90%;
    margin: auto;
  }
}

@import "./head/style";
@import "./features/style";
@import "./sliders/style";
@import "./comments/style";
