.container {
  width: 90%;
  margin: auto;
}
.flex {
  display: flex;
}

.align-center {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 600px) {
  .container {
    width: 90%;
  }
}
