.home_view-hero {
  width: 100%;
  height: 700px;
  background: url("/img/hero.jpg") center no-repeat;
  background-size: cover;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  span {
    color: $color_main;
    font-size: 45px;
    margin: auto;
    text-align: center;
    display: inline-block;
    width: fit-content;
    max-width: 45%;
    font-weight: 600;
  }
}
