$color_main: #874249;
$color_background: #d6d6d6;

$color_dark: #212020;
$color_gray: #8c8b8a;

$color_white: #fff;
$color_success: #51877a;
$color_danger: #874249;
$color_warning: #ffffe4;
$color_primary: blue;

$font_sm: 13px;
$font_md: 18px;
$font_lg: 22px;

$font_weight_300: 300;
$font_weight_500: 500;
$font_weight_700: 700;
