$color_main: #b8860b;
$color_background: #d6d6d6;

$color_dark: #171309;
$color_gray: #8c8b8a;

$color_white: #f9f9f9;
$color_success: #51877a;
$color_danger: #6b0713;
$color_warning: #ffffe4;
$color_primary: #b8e1ff;

$font_sm: 13px;
$font_md: 18px;
$font_lg: 22px;

$font_weight_300: 300;
$font_weight_500: 500;
$font_weight_700: 700;

$md_size: 800px;
