.swiper-button-next,
.swiper-button-prev {
  background: #fff;
  box-shadow: 1px 3px 5px #eee;
  border-radius: 5px;
  padding: 5px;
}
.swiper-scrollbar {
  display: none;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: $color_main;
}
